.contact-page {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 8px;
}
