body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.App {
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.new-herb-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.new-herb-form input,
.new-herb-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.new-herb-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.new-herb-form button:hover {
  background-color: #45a049;
}
